.leftFrame {
    float: left;
}

.rightFrame {
    float: right;
    left: 1px;
}

.fieldset {
    margin: 50px 0;
}

.awesomeHorFrame {
    border-color: #1f1e20 #1f1e20 #575757;
    border-style: solid;
    border-width: 1px 0;
}

table {
    border-collapse: collapse;
}

table tr td, table tr th {
    border: 1px solid #b5b5b5;
    padding: 5px;
    text-align: center;
    color: #efefef;
}

.solutionTable tr th {
    padding: 10px;
    color: #727272;
}

.solutionTable tr td {
    padding: 10px;
    white-space: nowrap;
}

.pivot {
    background-color: #636264;
}

#timer {
    text-align: right;
    font-size: 90%;
    margin: 15px 0;
}

div.forShowButton {
    margin: 20px 0;
}

#solution {
    overflow: hidden;
}

.calculateApartBlock {
    overflow: hidden;
    text-align: center;
}

.calculateApartBlock form {
    position: relative;
}

.matrixLadderTop {
    border-top: 2px solid #D37E0C !important;
}

.solutionLine {
    margin-left: 10px;
}

.subIndex {
    position: relative;
    bottom: -4px;
    font-size: 8pt;
}

.centeredTable {
    text-align: center;
    padding-bottom: 10px;
}

.verticalMargin10 {
    margin: 10px 0;
}

.disabled {
    opacity: 0.3;
}

.inputCell {
    text-align: center;
    background-color: white;
    width: 40px;
    font-size: 13px;
}

select[name="mode"] {
    padding: 1px !important;
    margin: 0;
    cursor: pointer;
    text-align: center;
}

#buttons, #buttons2 {
    text-align: center;
    margin-top: 20px;
}

#infoPic {
    cursor: help;
}

input[type="checkbox"], label {
    cursor: pointer;
}

#multBlockClose {
    position: absolute;
    right: 10px;
    top: -20px;
    display: inline-block;
    font-size: 9pt;
}

#multBlockClose:hover {
    cursor: pointer;
    text-decoration: underline;
}

.modeContainer {
    text-align: left;
}

.border {
    border-left: 2px solid #D37E0C !important;
}

.matrixLadderFull {
    border-left: 2px solid #D37E0C !important;
    border-bottom: 2px solid #D37E0C !important;
}

.matrixLadderLeft {
    border-left: 2px solid #D37E0C !important;
}

.rowNumber {
    padding-left: 10px;
    padding-right: 10px;
}

.translationBlock {
    border: 1px solid #D37E0C;
    padding: 10px;
    overflow: hidden;
}

.translationHeader {
    text-align: center;
    background-color: #D37E0C;
    color: white;
    padding: 3px;
    border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
}

.translationText {
    margin-bottom: 10px;
    margin-right: 10px;
}

.translationInput {
    min-width: 98%;
    max-width: 98%;
    margin-top: 2px;
}

.translationTextarea {
    min-height: 55px;
    max-height: 155px;
    height: 55px;
}

.translationSubmit {
    height: 35px;
    text-align: right;
    margin-top: 5px;
}

.translationLoader {
    position: relative;
    top: 11px;
    right: 5px;
}

.translationMessage {
    text-align: center;
}

.translationMessageButtons {
    margin-left: 20px;
}

.translationClose {
    float: right;
    color: #D37E0C;
    position: relative;
    bottom: 10px;
    left: 5px;
    cursor: pointer;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.translationClose:hover {
    color: white;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.translationContainer {
    margin: 20px 0;
}

.translationContext {
    margin-bottom: 10px;
}

.translationInfo {
    position: absolute;
    height: 17px;
    margin-left: 5px;
    cursor: help;
}

a.translationHeaderLink:hover {
    color: white !important;
}

.translationCaptchaContainer {
    display: inline-block;
}

.reviewLabel {
    margin-bottom: 5px;
}

.reviewLabel span {
    text-decoration: underline;
}

.reviewTextArea {
    width: 99%;
    max-width: 99%;
    min-width: 99%;
    height: 50px;
}

.reviewEditButton {
    margin: 10px 0 10px;
    height: 35px;
}

.reviewSaveButton {
    margin-top: 5px;
    text-align: right;
    height: 35px;
}

.reviewFinishedCheckbox {
    margin-right: 20px;
}

.reviewLanguageHeight {
    text-align: right;
    line-height: 28px;
}

.reviewRestart {
    margin: 0 20px 0 0;
}

.reviewAttentive {
    margin-left: 30px;
    color: rgb(255, 86, 86);
    font-size: 13px;
}

.reviewAddToTextsContainer {
    margin: 20px;
    text-align: center;
}

.reviewAddToTextsButton {
    margin-left: 20px;
}

.reviewAddToTextsHeight {
    display: inline-block;
    line-height: 36px;
}

.reviewAddToTextsLoader {
    vertical-align: middle;
    margin-left: 20px;
}

.disapprovedCheckbox {
    margin-right: 20px;
}

.reviewVariantBorder {
    border: 1px solid #d37e0c;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.reviewDelete {
    position: absolute;
    top: 0px;
    right: 5px;
    color: #d37e0c;
    cursor: pointer;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.reviewDelete:hover {
    color: white;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#firstReviewDeleteLoader {
    position: relative;
    top: 7px;
}

#reviewDeleteLoader2, #reviewDeleteLoader3 {
     position: absolute;
     top: 0px;
     right: 0px;
 }

.loginWidth {
    width: 50px;
}

.passwordWidth {
    width: 80px;
}

.authGoButton {
    vertical-align: middle;
}

.logInCaptcha {
    display: inline-block;
    margin: 20px;
}

.emptyReviewEval {
    color: rgb(255, 86, 86);
    font-size: 13px;
}

.clearTranslationLogContainer {
    text-align: right;
    height: 35px;
}

#clearLoader {
    position: relative;
    top: 6px;
}

.reviewApproveButtons {
    text-align: right;
    height: 35px;
}

.reviewBeginContainer {
    height: 35px;
}