header, footer, nav, aside, article, figcaption {
    display: block;
}

::selection {
    background-color: #d37e0c;
    color: white;
}

::-moz-selection {
    background-color: #d37e0c;
    color: white;
}

::-webkit-selection {
    background-color: #d37e0c;
    color: white;
}

.awesomeHr {
    border-color: #1f1e20 #1f1e20 #575757;
    border-style: solid;
    border-width: 1px 0;
    margin: 20px 0;
}

.heading {
    text-align: right;
    color: #efefef;
    text-shadow: 2px 2px 3px black;
    font-family: Times New Roman;
}

a img {
    border: none;
    outline: none;
}

select {
    background-color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
}

.date {
    font-family: Verdana;
    font-size: 8pt;
    text-align: right;
}

div.forScrollItem {
    text-align: right;
}

.blockLabel {
    margin-bottom: 25px;
}

input[type="text"], input[type="password"], textarea {
    border: none;
    outline: none;
    padding: 3px;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.greyInput {
    background-color: #ebebeb;
}

.feedbackTextarea {
    overflow: auto;
    width: 294px;
    min-width: 294px;
    max-width: 294px;
    height: 130px;
    min-height: 130px;
    margin-top: 2px;
}

.feedbackInput {
    width: 294px;
    margin-top: 2px;
}

div.forSubmitButton {
    margin-top: 25px;
}

.redBackground {
    background-color: #F88 !important;
}

.formResponseButton {
    margin-left: 30px !important;
}

article {
    position: relative;
}

noscript {
    display: block;
    text-align: center;
}

noscript div {
    background-color: #424143;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    padding: 10px;
    display: inline-block;
}

.clear {
    clear: both;
}

.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.preLoad {
    display: none;
}

.bold {
    font-weight: bold;
}

.adsSpacing {
    text-align: center;
    margin: 20px 0;
}

.copyright {
    display: inline-block;
    float: left;
}

.noMarginLeft {
    margin-left: 0 !important;
}

.noMarginRight {
    margin-right: 0 !important;
}

#feedback {
    display: inline-block;
    text-align: left;
}

#mailLoader {
    background: url('/images/mail-loader.gif') no-repeat;
    height: 20px;
    width: 56px;
    display: inline-block;
}

.mailLoader {
    background: url('/images/mail-loader.gif') no-repeat;
    height: 20px;
    width: 56px;
    display: inline-block;
}

.underlined {
    text-decoration: underline;
}

.hidden {
    display: none !important;
}

.leftFloat {
    float: left;
}

.rightFloat {
    float: right;
}

.invisible {
    visibility: hidden;
}

.innerShadow {
    background-color: #424143;
    box-shadow: 0 0 5px black inset;
    -webkit-box-shadow: 0 0 5px black inset;
    -moz-box-shadow: 0 0 3px black inset;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

.centerAlign {
    text-align: center;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.marginSpacing {
    margin: 20px;
}

.relative {
    position: relative;
}

.textAreaFontSize {
    font-size: 14px;
}

.noPointer {
    cursor: default !important;
}